<template lang="pug">
a.site(:href="site.url" target="_blank")
  img.site__icon(:src="site.icon")
  h2.site__title {{ site.title }}
  .site__desc {{ site.description }}
</template>


<script>
export default {
  props: ['site']
}
</script>

<style lang="stylus" scoped>
.site
  display flex
  flex-direction column
  background #2F2830
  border-radius 10px
  overflow hidden
  width 150px
  height 216px
  transition all 0.375s
  // transform: translate3d(0,0,0);
  // transform-origin: 50% 50% 50%;
  // backface-visibility: hidden
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  outline: 1px solid transparent;
  text-decoration none

  &:hover
    // transform: scale(1.02, 1.02s) translate3d(0,0,0)
    transform: perspective(1px) scale(1.1)
    background #342b36

  &__icon
    width 100%

  &__title
    color white
    font-size 20px
    margin 5px 0

  &__desc
    color white
    font-size 14px
    margin-bottom 10px

@media only screen and (max-width: 350px)
  .site
    width 135px
    height 200px
    &__title
      font-size 18px
    &__desc
      font-size 13px
      margin-bottom 5px
</style>
