<template lang="pug">
  .container
    .links
      site(v-for="v in sites", :key="v.url" :site="v")
</template>

<script>
import Site from "~/components/site"

export default {
  components: {
    Site
  },

  data () {
    return {
      sites: [{
        'icon': 'https://steam.design/images/apple-touch-icon.png',
        'url': 'https://steam.design',
        'title': 'Steam.Design',
        'description': 'Steam BG Cropper'
      }, {
        'icon': require("~/assets/img/steamtools.png"),
        'url': 'http://steam.tools',
        'title': 'Steam Tools',
        'description': 'Steam Tools Hub'
      }, {
        'icon': require("~/assets/img/levelguide.png"),
        'url': 'https://level.guide/public/',
        'title': 'Level.Guide',
        'description': 'Bots for leveling'
      }, {
        'icon': require("~/assets/img/steamladder.png"),
        'url': 'https://steamladder.com/',
        'title': 'Steam Ladder',
        'description': 'Steam Leaderboards'
      }, {
        'icon': require("~/assets/img/steamrep.png"),
        'url': 'https://steamrep.com/',
        'title': 'SteamRep',
        'description': 'Fraud Prevention'
      }, {
        'icon': require("~/assets/img/steamdb.png"),
        'url': 'https://steamdb.info/',
        'title': 'SteamDB',
        'description': 'Steam Database'
      }]
    }
  }
}
</script>

<style lang="stylus">
.container
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction column
  .links
    margin 20px
    display grid
    grid-template-columns auto auto auto auto auto auto
    grid-column-gap: 20px;
    grid-row-gap: 20px;

@media only screen and (max-width: 1000px)
  .container
    .links
      grid-template-columns auto auto auto

@media only screen and (max-width: 535px)
  .container
    .links
      grid-template-columns auto auto
</style>
